@using Sitecore.ExperienceForms.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

@inherits WebViewPage
@{ Layout = null; }

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Toy Box</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="~/fee/dist/css/app.css">
    
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzVteVRUtTbJTpumbOFBW0QX3s3YQo2M4"></script>
    <script src="https://unpkg.com/location-picker/dist/location-picker.min.js"></script>
</head>

<body>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        @Html.Sitecore().Placeholder("header")
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Sitecore Forms ToyBox</h1>
            @Html.Sitecore().Placeholder("main")
        </main>
        @Html.Sitecore().Placeholder("footer")

    </div>

    <script src="~/fee/dist/js/app.js"></script>
    @Html.RenderFormStyles()
    @Html.RenderFormScripts()
</body>
</html>